:root {
    --background: #F2F2F2;
    --text: #0D0D0D;
    --dark-color: #0D0D0D;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cutive Mono', monospace;
    background: var(--background);
    overflow: auto;
    transition: 0.5s background ease;
}

.theme-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    padding: 4px;
    
    cursor: pointer;
    display: grid;
    place-content: center;

    border: solid 4px transparent;
    border-radius: 50%;
    
    box-sizing: border-box;
}

.theme-button:hover {
    border: solid 4px var(--text);
    border-radius: 50%;
}

.fa-circle-half-stroke {
    pointer-events: none;
    color: var(--text);
}



.container {
    display: grid;
    align-content: center;
    justify-content: left;
    text-align: center;
    height: 100%;
}

h1,
h2,
p {
    position: relative;
    width: max-content;
    top: -100%;
    left: 5%;
    color: var(--text);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

p {
    left: 7%;
    max-width: 700px;
    text-align: left;
}

h1::before,
h1::after {
    content: "";
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
}

.title::before {
    background: var(--background);
    animation: typewriter 5s
      steps(14) 1s forwards;
  }

.title::after {
    width: 0.125em;
    background: var(--text);
    animation: typewriter 5s
        steps(14) 1s forwards,
        blink 1s infinite;
}

.subtitle {
    opacity: 0;
    transform: translateX(-3rem);
    animation: fadeInLeft 2s ease-in 8s forwards;
}

p {
    opacity: 0;
    margin: 0;
    transform: translateX(-3rem);
    font-size: 1.5rem;
    animation: fadeInLeft 2s ease-in 9s forwards;
}

.projects {
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    line-height: 2;    
}

ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;    
}

a {
    position: relative;
      display: block;
      color: var(--background);
      text-decoration: none;
      transition: 0.5s;
      pointer-events: none;
      animation: fadeInRight 2s ease-in 10s forwards;
}

a::after {
    position: absolute;
    content: "";
    top: 90%;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, var(--text), var(--background));
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

a:hover {
    opacity: 0.8;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

@keyframes typewriter {
    to { left: 100% }
}

@keyframes blink {
    0% {
        opacity:1;
      }
      49% {
        opacity:1;
      }
      50% {
        opacity:0;
      }
      100% {
        opacity:0;
      }
}

@keyframes fadeInLeft {
    to {
      opacity: 1;
      transform: translateX(0.5rem);
    }
}

@keyframes fadeInRight {
    to {
      color: var(--text);
      pointer-events: all;
    }
}