#contact-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 50px auto; 
    position: fixed;
    top: 42%;
    left: 29%;
    transform: translate(-50%, -50%);
}

.contact-input {
    font-size: 1.2rem;
    line-height: 20px;
    background: transparent;
    border: solid 2px rgb(var(--color));
    outline: 0;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 600px;
    color: rgb(var(--color));
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.contact-input:focus {
    border: solid 2px rgb(var(--theme));
}

textarea {
    height: 70px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    background: rgb(var(--theme));
    color: rgb(var(--background));
    width: 100%;
    font-size: 1.5rem;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background 0.5s ease-in-out, opacity 0.3s ease;
}

[type="submit"]:hover {
    opacity: 0.8;
}

.about-me {
    display: block;
}