header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 100;
}

#header-container button {
    font-size: 2rem;
    background: transparent;
    border: none;
}

.fa-circle-half-stroke,
.fa-bars {
    color: rgb(var(--color));
    cursor: pointer;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
    padding: 2px;
}

.fa-circle-half-stroke {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: solid 4px transparent;
    border-radius: 50%;    
}

.fa-circle-half-stroke:hover {
    border: solid 4px rgb(var(--theme));
}

#header-container button:active > .fa-circle-half-stroke,
#header-container button:active > .fa-bars {
    filter: opacity(80%);
}

.fa-bars {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.fa-circle-half-stroke:hover,
.fa-bars:hover {
    color: rgb(var(--theme));
}