@keyframes typewriter { from { width: 0%; } }
@keyframes blink-caret { 
    0% { border-color: rgb(var(--theme)); }
    49% { border-color: rgb(var(--theme)); }
    50% { border-color: transparent; } 
    100% { border-color: transparent; }
}

@keyframes fadeFromLeft {
    to { 
        opacity: 1;
        transform: translateX(0.1rem)
    }
}

@keyframes fadeIn {
    to { 
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes bottomLayerMenu { to { clip-path: circle(70% at calc(100% - 1.7vw) 3.9vh); } }
@keyframes topLayerMenu { to { clip-path: circle(65% at calc(100% - 1.7vw) 3.9vh); } }