#main-container {
    display: flex;
    margin-top: 8vh;
}

/* PRESENTATION */

#presentation-container {    
    height: fit-content;
    width: 75vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2vw;
    display: flex;
    flex-direction: column;
}

#title {   
    display: inline-block;
    border-right: 0.1em solid rgb(var(--color));
    width: 59%;
    white-space: nowrap;
    overflow: hidden;     
    animation: typewriter 4s steps(14), blink-caret 0.5s step-end infinite alternate;
}

#subtitle {         
    margin-top: 3rem;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-2rem);
    animation: fadeFromLeft 2s linear 5s forwards;
}

#presentation {
    opacity: 0;
    transform: translateX(-1rem);
    animation: fadeFromLeft 2s linear 5.5s forwards;
}

/* PROJECTS */

#projects-container {
    height: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2vw;
}

#projects-list {
    list-style: none;
    opacity: 0;
    animation: fadeIn 2s linear 6s forwards;
}

#projects-list li {
    font-size: 1.5rem;
}

#projects-list img {
    opacity: 0;
    width: 1000px;
    position: fixed;
    top: -25%;
    right: -400%;
    filter: saturate(0.5) blur(3px);
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out; 
}

#projects-list li:hover > img {
    display: inline;
    opacity: 0.2;
    right: 0;
}

@media screen and (max-width: 1440px) {
    #title {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    #presentation-container {
        width: 100%;
        top: 20%;
        transform: translateY(0);
        left: 2vh;
        right: 0;
        margin: 0 auto;
    }

    #title {
        width: 45.5%;
    }

    #projects-container {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateY(-50%, -50%);        
        margin: 0 auto;
    }
}

@media screen and (max-width: 460px) {
    #presentation-container {
        width: 75%;
        left: -10%;
    }

    #title {
        width: 79%;
    }

    #projects-container {
        top: 75%;
        left: 8%;
    }

    #projects-list li {
        font-size: 1.25rem;
    }

    #projects-list img {
        width: 500px;
        top: -125%;        
    }
}