#main-container {
    display: flex;
    margin-top: 8vh;
}

/* PRESENTATION */

#presentation-container {    
    height: fit-content;
    width: 75vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2vw;
    display: flex;
    flex-direction: column;
}

#title {   
    display: inline-block;
    border-right: 0.1em solid rgb(var(--color));
    width: 43.7vh;
    white-space: nowrap;
    overflow: hidden;     
    animation: typewriter 4s steps(14), blink-caret 0.5s step-end infinite alternate;
}

#subtitle {         
    margin-top: 3rem;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-2rem);
    animation: fadeFromLeft 1s linear 5s forwards;
}

#presentation {
    opacity: 0;
    transform: translateX(-1rem);
    animation: fadeFromLeft 1s linear 5.5s forwards;
}

/* PROJECTS */

#projects-container {
    height: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2vw;
}

#projects-list {
    list-style: none;
    opacity: 0;
    animation: fadeIn 2s linear 6s forwards;
}

#projects-list li {
    font-size: 1.5rem;
}

#projects-list img {
    opacity: 0;
    width: 1000px;
    position: fixed;
    top: -25%;
    right: -400%;
    filter: saturate(0.5) blur(3px);
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out; 
}

#projects-list li:hover > img {
    display: inline;
    opacity: 0.2;
    right: 0;
}

@media screen and (max-width: 2560px) {
    #title {
        width: 33.25vh;
    }
}

@media screen and (max-width: 1920px) {
    #title {
        width: 47.75vh;
    }
}

@media screen and (max-width: 1024px) {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 1.5rem; }
    p { font-size: 1rem; }

    #title {
        width: 39.85vh;
    }

    #presentation-container {
        width: 50%;
    }

    #projects-list li {
        font-size: 1rem;
    }

    #projects-list img {
        width: 700px;
        top: -25%;
        right: -400%;
    }
}

@media screen and (max-width: 768px) {
    #title {
        width: 33.25vh;
    }
}

@media screen and (max-width: 425px) {
    #title {
        width: 33.25vh;
    }
}

@media screen and (max-width: 375px) {
    #title {
        width: 33.25vh;
    }
}

@media screen and (max-width: 320px) {
    #title {
        width: 33.25vh;
    }
}