#thanks-container {
    position: absolute;
    top: 40%;
    left: 3%;
    transform: translateY(-50%);
}

#counter {
    color: rgb(var(--theme));
    transition: color 0.3s ease-in-out;
}

#title {
    display: inline-block;
    border-right: 0.1em solid rgb(var(--color));
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 4s steps(12), blink-caret 0.5s step-end infinite alternate;
}

#subtitle {
    margin-top: 3rem;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-2rem);
    animation: fadeFromLeft 2s linear 5s forwards;
}

#redirect {
    opacity: 0;
    transform: translateX(-1rem);
    animation: fadeFromLeft 2s linear 5.5s forwards;
}