.projects {
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    line-height: 2;
}

.project-list li:hover > img {
    opacity: 0.2;
    transform: translate(0, -50%);
}

.project-list li img {
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translate(130%, -50%);

    z-index: -10;

    width: 1000px;
    opacity: 0;
    filter: saturate(0.5) blur(3px);
    pointer-events: none;

    transition: all 1s ease;
}

.project-list a,
.project-list a::before,
.project-list a::after {
    color: var(--text);    
    opacity: 0;
    pointer-events: none;
    animation: fadeIn 2s ease-in 6s forwards;
}

.project-list a::before {
    content: "</";
}

.project-list a::after {
    content: ">";
}

.project-list a:hover::before,
.project-list a:hover::after {
    color: var(--theme);
}